@font-face {
    font-family: "Inter";
    src: url('../../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

// @font-face {
//     font-family: "SintonyRegular";
//     src: url('../../fonts/Sintony-Regular.woff2') format('woff2');
//     font-weight: 400;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'SintonyBold';
//     src: url('../../fonts/Sintony-Bold.woff2') format('woff2');
//     font-weight: 700;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'EuroCaps';
//     src: url('../../fonts/EUROCAPS.woff2') format('woff2');
//     font-weight: 400;
//     font-display: swap;
// }
