@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
html,
body,
.wrapper {
  height: 100%;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1320px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
  row-gap: 16px;
  align-items: center;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}